<%- include('partials/header') %>

<%- include('partials/menu') %>

<div class=admin>
    <div class="adminPanel">
        <div class="adminWindowsTitle">
            <p>Gestion des étudiants</p>
        </div>
        <form class="form" method="POST" action="/admin/addStudent">
                <div class="adminIcon">
                    <img class="promoLabel" src="https://img.icons8.com/color-glass/30/000000/home.png"/>
                </div>
                <select class="selectPromo" name="promo">
                    <% for(const targetPromo of promoList) { %>
                        <option value="<%= targetPromo.id %>"><%= targetPromo.name %></option>
                    <% } %>
                </select>
                <div class="adminIcon">
                    <img src="https://img.icons8.com/color-glass/30/000000/user-male.png"/>
                </div>
                <input class="inputPromo" type="text" name="first_name" value="Prénom">
                <div class="adminIcon">
                    <img src="https://img.icons8.com/color-glass/30/000000/identification-documents.png"/>
                </div>
                <input class="inputPromo" type="text" name="last_name" value="Nom">
                <div class="adminIcon">
                    <img src="https://img.icons8.com/color-glass/30/000000/github.png"/>
                </div>
                <input class="inputPromo" type="text" name="github_username" value="Pseudo Github">
        </form>
        <div class="gestionAdm">
            <button class="clearButton">
                <a class="btn-link-box" href="/admin/addStudent">
                    <img src="https://img.icons8.com/color-glass/96/000000/add-user-male.png"/>
                </a>
            </button>
        </div>
        <p id="addStudentText">Ajouter un étudiant</p>
    </div>
    <div class="adminPanel">
        <div class="adminWindowsTitle">
            <p>Gestion des promotions</p>
        </div>
        <form class="form" method="POST" action="/admin/addStudent">
                <div class="adminIcon">
                    <img class="promoLabel" src="https://img.icons8.com/color-glass/30/000000/home.png"/>
                </div>
                <input class="inputPromo" type="text" name="name" value="Nom de la promotion">
                <div class="adminIcon">
                    <img src="https://img.icons8.com/color-glass/30/000000/github.png"/>
                </div>
                <input class="inputPromo" type="text" name="github_username" value="Github">
        </form>
        <div class="gestionAdm">
            <button class="clearButton">
                <a class="btn-link-box" href="/admin/addStudent">
                    <img src="https://img.icons8.com/color-glass/96/000000/home.png"/>
                </a>                  
            </button>
        </div>
        <p id="addStudentText">Ajouter une promotion</p>
    </div>
    <div class="adminPanel">
        <div class="adminWindowsTitle">
            <p>Gestion des utilisateurs</p>
        </div>
    </div>
    <div class="adminPanel">
        <div class="adminWindowsTitle">
            <p>Gestion admin</p>
        </div>
        <div class="adminIcon">
            <img class="promoLabel" src="https://img.icons8.com/color-glass/30/000000/home.png"/>
        </div>
        <input class="inputPromo" type="text" name="name" value="Nom de la promotion">
        <div class="adminIcon">
            <img src="https://img.icons8.com/color-glass/30/000000/github.png"/>
        </div>
        <input class="inputPromo" type="text" name="github_username" value="Github">
        <div class="gestionAdm">
            <button class="clearButton">
                <a class="btn-link-box" href="/admin/logout">
                    <img src="https://img.icons8.com/color-glass/96/000000/export.png"/>
                </a>
            </button>
        </div>
        <p id="addStudentText">Déconnexion</p>
    </div>
</div>

<%- include('partials/footer') %>