<%- include('partials/header') %>

<%- include('partials/menu') %>

<div class="compteur">
    <div class="adminWindowsTitle">
        Trombino'clock
    </div>
    <div class="compteurIcon">
        <div class="nStudent">
            <img src="https://img.icons8.com/color-glass/100/000000/conference.png"/>
            <p>Nombre d'étudiants : <%= numStudent %></p>
        </div>
        <div class="nStudent">
            <img src="https://img.icons8.com/color-glass/48/000000/home.png"/>
            <p>Nombre de promo : <%= numPromo %></p>
        </div>
    </div>
</div>
   
<%- include('partials/footer') %>