<%- include('partials/header') %>

<%- include('partials/menu') %>

<div class="list-promos">
    <ul>
        <% for(const promo of promos) { %>
            <li>
                <div class="promo-box">
                    <a href="/promo/<%= promo.id %>">
                        <img src="https://img.icons8.com/color-glass/96/000000/home.png"/>
                        <a class="btn-link-box" href="/promo/<%= promo.id %>"><%= promo.name %></a>
                    </a>
                </div>
            </li>
        <% } %>
    </ul>
</div>

<%- include('partials/footer') %>