<%- include('partials/header') %>
<%- include('partials/menu') %>

<div class="list-promos">
    <ul>
        <% for(const student of students ) { %>
            <li>
                <div class="students-box">
                    <a href="/promo/students/<%= student.id %>/details">
                        <img src="<%= student.profile_picture_url %>" alt="<%= student.first_name %>" />
                    </a>
                    <a class="btn-link-box" href="/promo/students/<%= student.id %>/details"><%= student.first_name %> <%= student.last_name %></a>
                </div>
            </li>
        <% } %>
    </ul>
</div>

<%- include('partials/footer') %>