<%- include('partials/header') %>
<%- include('partials/menu') %>

<div class="list-promos">
    <ul>
        <% for(const promo of promos) { %>
            <li>
                <% if(promo.id === targetPromo.id) { %>
                    <div class="select-promo-box">
                        <div class="link-box-promo-detail">
                            <h3><a class="promo-link-box" href="/promos"><%= promo.name %></a></h3>
                        </div>
                        <div class="link-box-promo-detail">
                            <img src="https://img.icons8.com/color-glass/30/000000/search.png"/><a class="btn-link-box" href="/promo/<%= promo.id %>/students">Liste des étudiants</a>        
                        </div>
                        <div class="link-box-promo-detail">
                            <img src="https://img.icons8.com/color-glass/30/000000/github.png"/><a class="btn-link-box" href="<%= promo.github_organization %>">Page Github</a>
                        </div>     
                    </div>
                <% } else { %>
                    <div class="promo-box">
                        <a href="/promo/<%= promo.id %>">
                            <img src="https://img.icons8.com/color-glass/96/000000/home.png"/>
                            <a class="btn-link-box" href="/promo/<%= promo.id %>"><%= promo.name %></a>
                        </a>
                    </div>
                <% } %>
            </li>
        <% } %>
    </ul>
</div>

<%- include('partials/footer') %>